src/veolabserver/database/config.ini

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
venv/
ENV/
env/
*.env

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# PyInstaller
*.spec

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/

# MacOS
.DS_Store
